@page "/clothing"
@attribute [Authorize]

@using WardrobeManager.Presentation.Components
@using WardrobeManager.Presentation.Components.FormItems
@using WardrobeManager.Presentation.Components.Clothing
@using WardrobeManager.Shared.Models
@using WardrobeManager.Shared.Enums
@using WardrobeManager.Presentation.Services.Implementation
@using WardrobeManager.Presentation.Services.Interfaces
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.RegularExpressions


@inject IApiService _apiService
@inject INotificationService _notificationService
@* @inject HttpClient Http *@
@* @inject IHttpClientFactory ClientFactory *@

<PageTitle>Clothing</PageTitle>


@* <h1 class="subheading-text">@userid</h1> *@

<div class="w-full flex flex-col items-center">


    <h1 class="pt-14 pb-12 heading-text">Create, view, and edit your clothing items here!</h1>



    <div class="grow pb-4 px-8 gap-8 flex flex-row justify-center w-full">
        @* Left Column *@
        <div class="basis-1/4 flex flex-col items-center grow overflow-scroll">
            <h3 class="subheading-text">Filters</h3>
            <div class="rounded-xl bg-primary-content  w-full p-4 text-primary flex flex-col grow overflow-scroll">

                <EditForm Model="filterModel" class="flex flex-col justify-between h-full">
                    @* Toggles *@
                    <LabelAndElement Label="Has Image" Orientation="horizontal">
                        <SwitchToggle @bind-Enabled="filterModel.HasImage" />
                    </LabelAndElement>
                    <LabelAndElement Label="Favourited" Orientation="horizontal">
                        <SwitchToggle @bind-Enabled="filterModel.Favourited" />
                    </LabelAndElement>
                    <LabelAndElement Label="Recently Added" Orientation="horizontal">
                        <SwitchToggle @bind-Enabled="filterModel.RecentlyAdded" />
                    </LabelAndElement>

                    @* Selects *@
                    <LabelAndElement Label="Category">
                        <InputSelect @bind-Value="filterModel.Category" class="select rounded-md bg-primary text-primary-content">
                            @foreach (var category in Enum.GetValues<ClothingCategory>())
                            {
                                <option value="@category">@ProjectConstants.GetNameWithSpacesAndEmoji(category)</option>
                            }
                        </InputSelect>
                    </LabelAndElement>
                    <LabelAndElement Label="Season">
                        <InputSelect @bind-Value="filterModel.Season" class="select rounded-md bg-primary text-primary-content">
                            @foreach (var season in Enum.GetValues<Season>())
                            {
                                <option value="@season">@ProjectConstants.GetNameWithSpacesAndEmoji(season)</option>
                            }
                        </InputSelect>
                    </LabelAndElement>

                    @* Data Pickers *@
                    <LabelAndElement Label="Date Added">
                        <DatePicker @bind-FromDate="filterModel.DateAddedFrom" @bind-ToDate="filterModel.DateAddedTo" />
                    </LabelAndElement>
                    <LabelAndElement Label="Last Worn">
                        <DatePicker @bind-FromDate="filterModel.LastWornFrom" @bind-ToDate="filterModel.LastWornTo" />
                    </LabelAndElement>
                    <LabelAndElement Label="Last Edited">
                        <DatePicker @bind-FromDate="filterModel.LastEditedFrom" @bind-ToDate="filterModel.LastEditedTo" />
                    </LabelAndElement>

                    @* Ranges *@
                    <LabelAndElement Label="Times Worn">
                        <Range @bind-Count="filterModel.TimesWorn" />
                    </LabelAndElement>
                    <LabelAndElement Label="Times Worn Since Wash">
                        <Range @bind-Count="filterModel.TimesWornSinceWash" />
                    </LabelAndElement>
                </EditForm>
            </div>
        </div>
        @* Centre Column *@
        <div class="basis-2/4 bg-primary rounded-xl flex flex-col items-center justify-between grow p-4 ">
            <div class="flex flex-row items-center justify-between gap-5 py-4">
                <Search Width="1/6" />
                <div class="flex flex-row gap-3 items-center">
                    <p class="subtitle-text text-primary-content">Sort By</p>
                    <InputSelect @bind-Value="filterModel.Category" class="select rounded-md bg-primary-content text-primary">
                        @foreach (var category in Enum.GetValues<ClothingCategory>())
                        {
                            <option value="@category">@ProjectConstants.GetNameWithSpacesAndEmoji(category)</option>
                        }
                    </InputSelect>
                </div>

            </div>
            <div class="overflow-scroll flex flex-col items-center gap-6 w-4/5 grow max-h-[32rem] ">
                @if (clothing != null)
                {
                    foreach (var item in clothing)
                    {
                        <ItemSummary Item="item" ViewMethod="ChangeSelectedItem" DeleteMethod="DeleteItem" />
                    }
                }
            </div>
        </div>
        @* Right Column *@
        <div class="basis-1/4 flex flex-col items-center grow">
            <h3 class="subheading-text">Preview</h3>
            <div class="rounded-xl bg-primary-content grow w-full p-4 text-primary flex flex-col  grow">
                @* Psuedo header *@
                @if (selectedItem == null)
                {
                    @* https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties*@
                    @* Using my-auto cus there is no justify-self-center like self-center exists for the cross axis*@
                    <p class="subheading-text text-primary my-auto text-center">Press 'view' to an item's details here!</p>
                }
                else
                {
                    <p class="subtitle-text">@selectedItem.Name</p>
                    <div class="flex flex-row gap-3 py-4">
                        <span class="small-text badge badge-lg badge-secondary">@ProjectConstants.GetNameWithSpacesAndEmoji(selectedItem.Category)</span>
                        <span class="small-text badge badge-lg badge-accent">@ProjectConstants.GetNameWithSpacesAndEmoji(selectedItem.Season)</span>
                        <span class="bi bi-stars text-xl text-accent"></span>
                    </div>
                    @* Info *@
                    <LabelAndElement Label="Last Edited">
                        <p>@selectedItem.DateUpdated.ToString("MMMM d, yyyy")</p>
                    </LabelAndElement>
                    <LabelAndElement Label="Date Added">
                        <p>@selectedItem.DateAdded.ToString("MMMM d, yyyy")</p>
                    </LabelAndElement>
                    <LabelAndElement Label="Last Worn">
                        <p>@selectedItem.LastWorn.ToString("MMMM d, yyyy")</p>
                    </LabelAndElement>
                    <LabelAndElement Label="Desired Time Worn Before Wash">
                        <p>@selectedItem.DesiredTimesWornBeforeWash</p>
                    </LabelAndElement>
                    <LabelAndElement Label="Total Times Worn">
                        <p>@selectedItem.TimesWornTotal</p>
                    </LabelAndElement>
                    <div class="flex flex-row justify-center gap-5 pb-4">
                        <button class=" btn btn-sm btn-accent">Wear fix!</button>
                        <button class="btn btn-sm  btn-accent">Wash fix!</button>
                    </div>
                    <div class="flex flex-col justify-center rounded-xl">
                        <img src="@ProjectConstants.ApiUrl/images/@selectedItem.ImageGuid" class="h-[10rem] object-contain" />
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@code {
    List<ServerClothingItem>? clothing = null;
    public FilterModel filterModel = new FilterModel();
    public ServerClothingItem? selectedItem = null;

    @* Blazor Override Stuff *@
    protected override async Task OnInitializedAsync()
    {
        try
        {
            clothing = await _apiService.GetClothing();

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (HttpRequestException ex)
        {
            _notificationService.AddNotification($"Cannot fetch clothing: {ex.Message}", NotificationType.Error);
        }

    }

    @* My Methods *@
    public async Task ChangeSelectedItem(ServerClothingItem item)
    {
        selectedItem = item;
    }
    public async Task DeleteItem(ServerClothingItem item)
    {
        try
        {

            await _apiService.Delete(item);
            clothing = await _apiService.GetClothing();
            StateHasChanged();
        }
        catch (HttpRequestException ex)
        {
            _notificationService.AddNotification($"Cannot fetch clothing: {ex.Message}", NotificationType.Error);
        }
    }

    @* Static Variables *@
    public class FilterModel
    {
        public bool HasImage { get; set; }
        public bool Favourited { get; set; }
        public bool RecentlyAdded { get; set; }
        public ClothingCategory Category { get; set; }
        public Season Season { get; set; }
        public DateTime DateAddedFrom { get; set; } = DateTime.UtcNow;
        public DateTime DateAddedTo { get; set; } = DateTime.UtcNow;
        public DateTime LastWornFrom { get; set; } = DateTime.UtcNow;
        public DateTime LastWornTo { get; set; } = DateTime.UtcNow;
        public DateTime LastEditedFrom { get; set; } = DateTime.UtcNow;
        public DateTime LastEditedTo { get; set; } = DateTime.UtcNow;
        public int TimesWorn { get; set; }
        public int TimesWornSinceWash { get; set; }
    }

}
