@page "/wardrobe"
@attribute [Authorize]
@using WardrobeManager.Shared.DTOs
@inherits MvvmComponentBase<WardrobeViewModel>

<PageTitle>Wardrobe</PageTitle>

<div class="max-w-[80%] mx-auto w-full text-center">
    <h1 class="sm:heading-text subheading-text">View your wardrobe here</h1>

    @if (@ViewModel.ClothingItems != null)
    {
        <DataTable Items="@ViewModel.ClothingItems" TItem="ClothingItemDTO">
            <DataColumns>
                <DataTableColumn Property="x => x.Id" Header="Actions">
                    <Template>
                        <Button Type="ButtonType.Destructive" Text="Delete" OnClick="() => ViewModel.ActionDialogStates[context.Id].ShowDelete = true"/>
                        <Dialog Show="@ViewModel.ActionDialogStates[context.Id].ShowDelete" OnClose="() => ViewModel.ActionDialogStates[context.Id].ShowDelete = false">
                            <Header>
                                <div class="flex-col flex g4">
                                    <p class="large">Are you sure you want to delete this item?</p>
                                    <p class="muted">This action is permanent.</p>
                                </div>
                            </Header>
                            <Content>
                                <p>blah</p>
                            </Content>
                            <Footer>
                                <Button Type="ButtonType.Destructive" Text="Delete" OnClick="() => ViewModel.RemoveItem(context.Id)"/>
                            </Footer>
                        </Dialog>
                    </Template>
                </DataTableColumn>
                <DataTableColumn Property="@(x => x.ImageGuid ?? Guid.NewGuid() )">
                    <Template>
                        <Image ImageGuid="@context.ImageGuid.ToString()" Css="h-full object-contain rounded-xl max-w-[3rem] w-full"/>
                    </Template>
                </DataTableColumn>
                <DataTableColumn Property="x => x.Name"/>
                <DataTableColumn Property="x => x.Category"/>
                <DataTableColumn Property="x => x.Size"/>
            </DataColumns>
        </DataTable>
    }

</div>