@namespace WardrobeManager.Presentation.Components.Shared

@inherits MvvmComponentBase<NotificationsViewModel>

<div class="flex flex-col items-end gap-2 absolute top-0 right-0 p-6 z-10 max-h-dvh overflow-y-scroll">

    @if (_notificationService.Notifications.Count > 5)
    {
        <Button Type="ButtonType.Destructive" Text="Clear All Notifications" OnClick="ViewModel.ClearAllNotifications"/>
    }

    @foreach (var notification in _notificationService.Notifications)
    {
        var cssClass = ViewModel.GetNotificationCss(notification.Type);
        var message = ViewModel.GetTruncatedMessage(notification);

        <Button Type="ButtonType.Outline" class="!bg-[#111]" Width="100%">
            <div class="flex flex-row gap-2 rounded-md items-center justify-between w-full">
                <span class="@cssClass " @onclick="() => notification.DialogOpen = true">@message</span>
                <Button Icon="Close" Size="ButtonSize.Small" Type="ButtonType.Ghost"
                        OnClick="() => ViewModel.Dismiss(notification)"/>
            </div>
        </Button>

        <Dialog Show="@notification.DialogOpen" Width="500px" OnClose="() => notification.DialogOpen = false">
            <Header>
                <div class="flex-col g4">
                    <p class="large">Notification</p>
                    <p class="muted">Type: @notification.Type.ToString()</p>
                    <p class="muted">Created: @notification.CreationDate</p>
                </div>
            </Header>
            <Content>
                <Text Weight="FontWeights.W700">Message:
                    <Text Weight="FontWeights.W400" Class="wrap-anywhere">@notification.Message</Text>
                </Text>
            </Content>
            <Footer>
                <div style="width: 100%; display: flex">
                    <Button Text="Close" Type="ButtonType.Secondary" OnClick="() => notification.DialogOpen = false"/>
                </div>
            </Footer>
        </Dialog>
    }
</div>

@code {


}
