@page "/login"
@inherits MvvmOwningComponentBase<LoginViewModel>

<PageTitle>Log in</PageTitle>


<div class="w-full bg-primary grow">
    <div class="max-w-90 mx-auto flex flex-col items-center justify-center h-full">
        <h2 class="heading-text text-primary-content">Log in</h2>
        <EditForm class="w-full py-8 flex flex-col items-center gap-3" @ref="@ViewModel.EditForm"
                  Model="@ViewModel.AuthenticationCredentialsModel" OnSubmit="LoginAsync">
            <Input TItem="string"
                   Value="@ViewModel.AuthenticationCredentialsModel.email"
                   ValueChanged="@((email) => ViewModel.SetEmail(email ?? ""))"
                   Placeholder="Enter your email"
            />
            <Input TItem="string"
                   Value="@ViewModel.AuthenticationCredentialsModel.password"
                   Type="password"
                   OnKeyDown="@((e) => ViewModel.DetectEnterPressed(e))"
                   ValueChanged="@((password) => ViewModel.SetPassword(password ?? ""))"
                   Placeholder="Enter your password"
            />

            <Button Type="ButtonType.Primary" Text="Log in" OnClick="LoginAsync"/>
        </EditForm>

        <div class="flex flex-row items-center gap-3 ">
            <p class="body-text text-lg text-primary-content">Don't have an account?</p>
            <a href="/signup">
                <Button Text="Sign up" Type="ButtonType.Secondary"/>
            </a>
        </div>
    </div>
</div>

@code {
    // When I call the identity service from Blazing.Mvvm's viewmodel, it does not properly propagate the 
    // authenticate state changes for some reason. Because of this, this method needs to reside in the page for now.
    public async Task LoginAsync()
    {
        var success = await _identityService.LoginAsync(ViewModel.AuthenticationCredentialsModel);
        if (!success) return;
        _navManager.NavigateTo<DashboardViewModel>();
    }
}