@page "/signup"
@inherits MvvmComponentBase<SignupViewModel>

<PageTitle>Sign up</PageTitle>


<div class="w-full bg-primary grow">
    <div class="max-w-90 mx-auto flex flex-col items-center justify-center h-full">
        <h2 class="heading-text text-primary-content">Sign Up</h2>
        <EditForm class="w-full py-8 flex flex-col items-center gap-3" @ref="@ViewModel.EditForm"
                  Model="@ViewModel.AuthenticationCredentialsModel" OnSubmit="ViewModel.SignupAsync">
            <Input TItem="string"
                   Value="@ViewModel.AuthenticationCredentialsModel.email"
                   ValueChanged="@((email) => ViewModel.SetEmail(email ?? ""))"
                   Placeholder="Enter your email"
            />
            <Input TItem="string"
                   Value="@ViewModel.AuthenticationCredentialsModel.password"
                   Type="password"
                   OnKeyDown="@((e) => ViewModel.DetectEnterPressed(e))"
                   ValueChanged="@((password) => ViewModel.SetPassword(password ?? ""))"
                   Placeholder="Enter your password"
            />

            <Button Type="ButtonType.Primary" Text="Sign Up" OnClick="@ViewModel.SignupAsync"/>
        </EditForm>

        <div class="flex flex-row items-center gap-3 ">
            <p class="body-text text-lg text-primary-content">Already have an account?</p>
            <a href="/login">
                <Button Text="Log in" Type="ButtonType.Secondary"/>
            </a>
        </div>
    </div>
</div>